sentence-transformers==2.2.2
langchain>=0.2.2
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain-community
langchain-huggingface
sentence-transformers
huggingface-hub
langchain_community
langchain_openai
langchain_experimental
pip install huggingface_hub[hf_xet]
pip install hf_xet